<br/>
<br/>

<a class="sub_header_link" href="/animals/new">Submit a new animal</a>

<br/>
<br/>
<br/>

<a class="animals_view_filter" href="/animals/adoptable">View only adoptable animals</a>
|||
<a class = "animals_view_filter" href="/animals/non_adoptable">View only non-adoptable animals</a>

<br/>
<br/>

<% @animals.each do |animal| %>
  <p>Name: <%= animal.name %></p>
  <p>Type: <%= animal.type %></p>
  <p>Admission date: <%= animal.admission_date %></p>
  <p>Availability: 
    <% if animal.availability == 't' %>
      Can be adopted
    <% else %> 
      Cannot be adopted
  <% end %>
  </p>

  <form method="get" action="/animals/<%= animal.id %>/update">
    <input type="submit" value="Update animal"/>
  </form>

  <br/>

  <form method="post" action="/animals/<%= animal.id %>/delete">
    <input type="submit" value="Delete animal"/>
  </form>
  <hr/>

<% end %>