<h1>All animals</h1>

<% @animals.each do |animal| %>
  <p>Name: <%= animal.name %></p>
  <p>Type: <%= animal.type %></p>
  <p>Admission date: <%= animal.admission_date %></p>
  <p>Availability: 
    <% if animal.availability == 't' %>
      Can be adopted
    <% else %> 
      Cannot be adopted
  <% end %>
  </p>

  <form method="get" action="/animals/<%= animal.id %>/update">
    <input type="submit" value="Update animal"/>
  </form>

  <br/>

  <form method="post" action="/animals/<%= animal.id %>/delete">
    <input type="submit" value="Delete animal"/>
  </form>
  <hr/>

<% end %>