<h1>All potential owners</h1>

<% @owners.each do |owner| %>
  <p>Name: <%= owner.name %></p>
  <p>Adopted animals: 
  <% owner.animals.each do |animal| %>
  <p><%= animal.name %> the <%= animal.type %></p>
  <% end %>
  <form method="get" action="/owners/<%= owner.id %>/update">
    <input type="submit" value="Update owner name"/>
  </form>

  <br/>

  <form method="post" action="/owners/<%= owner.id %>/delete">
    <input type="submit" value="Delete owner"/>
  </form>
  <hr/>

<% end %>